[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggreveal"]
	path = ggreveal
	url = https://github.com/weverthonmachado/ggreveal
